@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

body {
  background-image: url("../src/photo-1606639421367-97fba5c3833a.jpeg");
  background-size: cover;
}

.tile {
  background-color: #000;
  opacity: 0.8;
  border: 2px solid #fff;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  font-family: "Nosifer", cursive;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  box-sizing: border-box;
  margin: 25px 25px;
  width: 30%;
  display: flex;
  align-items: center;
}

.tile:hover {
  background: #4c0d0d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-hits-page {
  font-family: "Nosifer", cursive;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin: 50px -10px;
  background-color: #000;
  opacity: 0.85;
  width: 100%;
  padding: 10px;
}

.subtitle-hints-page {
  font-family: "Helvetica";
  font-size: 30px;
}

.section-hints-page {
  font-family: "Helvetica";
  height: 60vh;
  width: 70%;
  border-radius: 30px;
  border: 2px solid #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  opacity: 0.85;
  color: #fff;
  text-align: start;
}

.navbar {
  display: inline;
  background-color: black;
  opacity: 0.85;
  width: 100vw;
  padding: 10px;
  margin-left: -5px;
  border-radius: 20px;
  border: 2px solid #fff;
}

.navbar-object {
  display: inline;
  padding: 10px;
  color: #fff;
  text-decoration-line: none;
  font-family: "Helvetica";
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.button {
  background-color: #000;
  opacity: 0.8;
  border: 2px solid #fff;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  font-family: "Nosifer", cursive;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 25px 25px;
  width: 30%;
  align-items: center;
}
.button:hover {
  background: #4c0d0d;
}